{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

{% load crispy_forms_tags %}

<h1>Add Event</h1>
<br/><br/>

{% if submitted %}
<p>Your Event Was Submitted Successfully</p>

    {% else %}

        <form action="" method="POST" style="margin-top: 1.3em;">
            {% csrf_token %}

            {{ form.as_p}}

            <input type="submit" value="Submit" class="btn btn-success">
        </form>
        {% endif %}


<br/><br/>
{% endblock content %}