{% extends "base.html" %}
{% block title %} Alcohol Free Ireland Blogs {% endblock %}
{% load static %}
{% load cloudinary %}
{% block content %}

<div class="container-fluid">
    <div class="col">
        <a href="{% url 'add_blog' %}" type="button" class="btn btn-light px-3 d-flex justify-content-center">
        <i class="fas fa-users" aria-hidden="true"></i>  ADD YOUR VERY OWN BLOG BY CLICKING HERE  <i class="fas fa-users" aria-hidden="true"></i></a>
    </div>
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body ">
                            <div class="image-container card card-cascade narrower h-100">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top view view-cascade overlay"
                                    src="'{{ MEDIA_URL }}media/placeholder.jpg.">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="label">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'blog_detail' post.id  %}" class="post-link">
                                <h2 class="card-text">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr/>
                            <p class="card-text small">{{ post.created_on }} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                                {% if post.user == request.user or request.user.is_superuser %}
                                        <a href="{% url 'edit_blog' post.id %}" class="btn btn-standard">Edit</a>
                                        <a href="{% url 'delete_blog' post.id %}" class="btn btn-standard">Delete</a>
                                {% endif %}
                            
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}