{% extends "base.html" %}
{% load static %}

{% block title %}Contact Us{% endblock title %}

{% load crispy_forms_tags %}
  
{% block content %}
<h1>Contact us</h1>

{% if submitted %}
<h1 class="success">
    Your message was submitted successfully. Thank you.
</h1>
{% else %}
<form action="{% url 'contact' %}" method="POST" class="form" novalidate>
<table>
    {{ form.as_table }}
    <tr>
    <td>&nbsp;</td>
    <td><input type="submit" value="Submit" class="btn btn-light"></td>
    </tr>
</table>
{% csrf_token %}
</form>
{% endif %}
{% endblock content %}