{% extends "base.html" %}
{% block title %} Alcohol Free Ireland Blogs {% endblock %}
{% load static %}
{% block content %}



<div class="container-fluid dark-bg">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                
                {% for events in events_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="image-container card card-cascade narrower">
                                        {% if "placeholder" in events.venue_image.url %}
                                        <img class="card-img-top view view-cascade overlay"
                                            src="{% static 'images/strawberry.jpg' %}">
                                        {% else %}
                                        <img class="card-img-top" src=" {{ events.venue_image.url }}">
                                        {% endif %}
                                        <div class="image-flash">
                                            <h2 class="card-title">{{ events.venue }}</h2>
                                        </div>
                                        <div class="image-flash-2">
                                            <p class="label">Location: {{ events.location }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <p class="card-text">{{ events.description }}</p>

                            
                            <form class="d-line" action="{% url 'post_event' events.location %}" method="POST">
                                {% csrf_token %}
                               
                            <p class="card-text">Click icon to Confirm Attending: <button type="submit" name="blogpost_id" 
                            value="{{events.location}}" class="btn-like"><i class="far fa-user"></i> <span class="guests_num">{{events.number_of_guests}}</span></button></p>
                        
                            </form>
                            
                           
                            <p class="card-text text-muted h6">Event date: {{ events.event_date}}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}