{% extends "base.html" %}
{% block content %}

<!-- Header - set the background image for the header in the line below-->
<!-- <header class="py-5 bg-image-full hero-image" style="background-image: url('/static/images/hero3.jpg')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="static/images/intro2.jpg" alt="..." />
        <h1 class="text-white fs-3 fw-bolder">Alcohol Free Ireland</h1>
        <p class="text-white-50 mb-0">Join Us-*Sign Up link</p>
    </div>
</header> -->
<header>
    <div class="hero py-5 bg-image-full hero-image">
        <div class="columns is-mobile is-justify-content-center">
            <img class="img-fluid rounded-circle mb-1 blog-image" src="static/images/intro2.jpg" alt="Blog page image introduction" />    
                <h1 class="text-white fs-3 fw-bolder">Alcohol Free Ireland</h1>
                <p class="text-white-50 mb-0">Join Us-*Sign Up link</p>
        </div>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-light">
                <h2>Check out our Blog</h2>
                <p class="lead">A place to add your experience with Alcohol Free Drnks</p>
                <p class="mb-0">A space to share a variety of storys from drink reviews, dry January, to times of soberiety. -Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo voluptas architecto, fuga, sit 
                    facilis nulla tempora placeat distinctio culpa officia debitis nesciunt optio voluptates laudantium itaque animi 
                    inventore ex. Vitae.</p>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full berry-image" style="background-image: url('/static/images/frogs.jpg')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 30rem"></div>
</div>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-light">
                <h2>Becoming More Widespread</h2>
                <p class="lead">Walking into supermarkets now you can't help but realise, almost every week a new drink is added. 
                    Every month a new shelf is added to the non-alcohol drinks section, its gradually taking over the whole supermarket 
                    one day at a time.</p>
                <p class="mb-0">I can't tell you how many people say they were turned off from science because of a science 
                    teacher that completely sucked out all the inspiration and enthusiasm they had for the course.</p>
                <iframe width="420" height="315"
                    src="https://www.youtube.com/embed/watch?v=5wgvpo-xBnA&t=43s">
                </iframe>
            </div>
        </div>
    </div>
</section>
{%endblock%}