{% extends "base.html" %}
{% load static %}
{% block content %}

<header>
    <div class="hero py-5 bg-image-full hero-image"><style>.hero-image {background: linear-gradient(rgba(0, 0, 0, 0.1), 
    rgba(0, 0, 0, 0.1)), url('/static/images/bar.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 80vh;
    object-fit: contain;
    position: relative;}</style>
        <div class="columns is-mobile is-justify-content-center">
            <div class="text-position-1">   
                <img src="{% static 'images/logo.png' %}" alt="Logo Image" width="280" height="220">
                <h1 class="text-white fs-3 fw-bolder">ALCOHOL FREE IRELAND</h1>
                    <div class="line-up">
                        <!-- <div class="line"></div> -->
                            <a href="{% url 'blog' %}" class="links">-Blog-</a>
                            <a class="links" href="{% url 'events' %}">~Events~</a>
                        <!-- <div class="line"></div> -->
                    </div>
                
                <form>
                    {% if not request.user.is_authenticated %}
                    <a href="{% url 'account_signup' %}" type="button" class="btn btn-primary px-3">
                        <i class="fas fa-users" aria-hidden="true"></i>  JOIN US   <i class="far fa-hand-point-right" aria-hidden="true"></i></a>
                    {% endif %}
                </form>
            </div> 
        </div>
    </div>
</header>
<!-- Content section-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="{% static 'images/blog.jpg' %}"  class="rounded-circle blog-circle" alt="Blog page image introduction" />
            </div>
            <div class="col-8 text-dark">
                <h2>Check out the Blog</h2>
                <p class="lead">A place to add your experience with Alcohol Free Drinks</p>
                <p class="mb-0">A space to share a variety of storys from drink reviews, dry January, to times of soberiety. 20% of the population of Ireland 
                    do not drink alcohol & often feel left out of weekend/social gatherings. <br><br>
                    Have you enjoyed any non alcohol drinks recently that you would like to share your experience of, feel free to share in the blog space. 
                    Walking in to large supermarkets recently I can't help notice how the non alcoholic section continues to grow, take you more shelf space
                    & seems to add a new drink every week. <br><br>
                    Many people are quietly considerning taking a break from alcohol & would like to learn more about other peoples experiences with this.
                    The Blog provides that space for people to share there good & bad experiences with abstaining from alcohol.</p>
            </div>
        </div>
    </div>
</section>
<!-- Image element -->
<div class="events-body py-5 bg-image-full events-image">
    <div class="columns is-mobile text-position-1"></div>   
        <h1 class="text-white fs-3 fw-bolder">CREATE AN EVENT HERE</h1>
        <a href="{% url 'add-event' %}" type="button" class="btn btn-success px-3">
            <i class="fa-regular fa-champagne-glasses"></i>  ADD EVENT  <i class="far fa-hand-point-right" aria-hidden="true"></i></a>
    </div>
</div>
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h2>Check out our Events Page</h2>
                <p class="lead">A place to set up & join Alcohol Free Events in your locality</p>
                <p class="mb-0">Are you the only one in the village who enjoys a non-alcoholic 
                    drink & find it hard to find people to join you? Here is the place to find out by looking through the open Events
                    or setting up one in your village/town/county.</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/strawberry.jpg' %}" class="img-fluid rounded-circle mb-1 events-circle" alt="Events page image introduction" /> 
            </div>
        </div>
    </div>
</section>
<!-- Content section-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <iframe width="420" height="315" class="video-home"
                    src="https://www.youtube.com/embed/watch?v=5wgvpo-xBnA&t=43s">
                </iframe>
            </div>
            </div>
            <div class="col-8">
                <h2>Becoming More Widespread</h2>
                <p class="lead">As per the video above, non alcoholic drinks are becoming more appealing & more accepted every day.
                    Walking into supermarkets now you can't help but realise, almost every week a new drink is added. 
                    Every month a new shelf is added to the non-alcohol drinks section, its gradually taking over the whole supermarket 
                    one day at a time.</p>
                <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil molestias, fuga dignissimos cumque,
                    ab illo eius inventore modi dolore alias, pariatur quis ad aliquid velit at tempora explicabo odio laborum.</p>
            </div>
        </div>
    </div>
</section>
{%endblock%}